In [4]:
import json
import pandas as pd

In [5]:
# Load the BPS data
with open("../data_ind.json", "r", encoding="utf-8") as file:
    data_ind = json.load(file)

# Load the OECD data
with open("../data_oecd.json", "r", encoding="utf-8") as file:
    data_oecd = json.load(file)

In [6]:
# extracting unemployment rate for indonesia only (excluding per province)
data_ind_ = {
    key: value
    for key, value in data_ind["datacontent"].items()
    if key.startswith("9999")  # Key should start with '9999' for Indonesia
}

In [7]:
data_ind_records = []

In [8]:
for key, value in data_ind_.items():
    year = key[-5:-3]  # Extract digits representing the year
    quarter_suffix = key[-2:] # Extract digits representing quarter reporting
   
     # Map the numeric year to the full year
    full_year = 1900 + int(year) if int(year) > 50 else 2000 + int(year)

    # Check for two values (quarters) in the same year
    if quarter_suffix == "91": 
        data_ind_records.append([full_year, "-", value])
    elif quarter_suffix == "89": # If the last digits are '89', it's for the first quarter
        data_ind_records.append([full_year, "Q1", value])
    elif quarter_suffix == "90":  # If it's '90', it's for the second quarter
        data_ind_records.append([full_year, "Q3", value])

In [9]:
# Convert records into a DataFrame
df_ind = pd.DataFrame(data_ind_records, columns=["Year", "Quarter", "Unemployment Rate"])

In [11]:
# Save to CSV (Optional)
df_ind.to_csv("../indonesia_unemployment_rate.csv", index=False)

# Display the DataFrame
print(df_ind)

    Year Quarter  Unemployment Rate
0   1986       -               2.70
1   1987       -               2.62
2   1988       -               2.85
3   1989       -               2.81
4   1990       -               2.55
5   1991       -               2.62
6   1992       -               2.74
7   1993       -               2.79
8   1994       -               4.36
9   1996       -               4.87
10  1997       -               4.69
11  1998       -               5.46
12  1999       -               6.36
13  2000       -               6.08
14  2001       -               8.10
15  2002       -               9.06
16  2003       -               9.67
17  2004       -               9.86
18  2005      Q1              10.26
19  2005      Q3              11.24
20  2006      Q1              10.45
21  2006      Q3              10.28
22  2007      Q1               9.75
23  2007      Q3               9.11
24  2008      Q1               8.46
25  2008      Q3               8.39
26  2009      Q1               8.14
27  2009      Q3               7.87
28  2010      Q1               7.41
29  2010      Q3               7.14
30  2011      Q1               6.96
31  2011      Q3               7.48
32  2012      Q1               6.37
33  2012      Q3               6.13
34  2013      Q1               5.88
35  2013      Q3               6.17
36  2014      Q1               5.70
37  2014      Q3               5.94
38  2015      Q1               5.81
39  2015      Q3               6.18
40  2016      Q1               5.50
41  2016      Q3               5.61
42  2017      Q1               5.33
43  2017      Q3               5.50
44  2018      Q1               5.10
45  2018      Q3               5.30
46  2019      Q1               4.98
47  2019      Q3               5.23
48  2020      Q1               4.94
49  2020      Q3               7.07
50  2021      Q1               6.26
51  2021      Q3               6.49
52  2022      Q1               5.83
53  2022      Q3               5.86
54  2023      Q1               5.45
55  2023      Q3               5.32
56  2024      Q1               4.82
57  2024      Q3               4.91