In [14]:
import pandas as pd

In [15]:
df_ind = pd.read_csv('../data_ind.csv')

In [17]:
df_oecd = pd.read_csv('../data_oecd.csv')

In [20]:
df_oecd = df_oecd.sort_values(by=['Country', 'Time_Period'])

In [22]:
df_ind

    Year Quarter  Unemployment Rate
0   1986       -               2.70
1   1987       -               2.62
2   1988       -               2.85
3   1989       -               2.81
4   1990       -               2.55
5   1991       -               2.62
6   1992       -               2.74
7   1993       -               2.79
8   1994       -               4.36
9   1996       -               4.87
10  1997       -               4.69
11  1998       -               5.46
12  1999       -               6.36
13  2000       -               6.08
14  2001       -               8.10
15  2002       -               9.06
16  2003       -               9.67
17  2004       -               9.86
18  2005      Q1              10.26
19  2005      Q3              11.24
20  2006      Q1              10.45
21  2006      Q3              10.28
22  2007      Q1               9.75
23  2007      Q3               9.11
24  2008      Q1               8.46
25  2008      Q3               8.39
26  2009      Q1               8.14
27  2009      Q3               7.87
28  2010      Q1               7.41
29  2010      Q3               7.14
30  2011      Q1               6.96
31  2011      Q3               7.48
32  2012      Q1               6.37
33  2012      Q3               6.13
34  2013      Q1               5.88
35  2013      Q3               6.17
36  2014      Q1               5.70
37  2014      Q3               5.94
38  2015      Q1               5.81
39  2015      Q3               6.18
40  2016      Q1               5.50
41  2016      Q3               5.61
42  2017      Q1               5.33
43  2017      Q3               5.50
44  2018      Q1               5.10
45  2018      Q3               5.30
46  2019      Q1               4.98
47  2019      Q3               5.23
48  2020      Q1               4.94
49  2020      Q3               7.07
50  2021      Q1               6.26
51  2021      Q3               6.49
52  2022      Q1               5.83
53  2022      Q3               5.86
54  2023      Q1               5.45
55  2023      Q3               5.32
56  2024      Q1               4.82
57  2024      Q3               4.91