In [35]:
import pandas as pd

### read data

In [36]:
df_ind = pd.read_csv('../data_ind.csv')

In [37]:
df_oecd = pd.read_csv('../data_oecd.csv')

In [38]:
df_oecd = df_oecd.sort_values(by=['Country', 'Time_Period'])
df_oecd['Time_Period'] = pd.to_datetime(df_oecd['Time_Period'], format='%Y-%m')

In [39]:
df_deu = df_oecd[(df_oecd['Country'] == 'DEU')]
df_usa = df_oecd[(df_oecd['Country'] == 'USA')]

### descriptive statistics

In [40]:
df_ind.describe()

              Year  Unemployment Rate
count    58.000000          58.000000
mean   2008.448276           6.220862
std      10.777124           2.201112
min    1986.000000           2.550000
25%    2001.250000           5.010000
50%    2010.000000           5.870000
75%    2017.000000           7.462500
max    2024.000000          11.240000

In [41]:
df_deu.describe()

               Time_Period  Unemployment_Rate
count                  360         360.000000
mean   2009-12-15 22:56:00           6.536944
min    1995-01-01 00:00:00           2.800000
25%    2002-06-23 12:00:00           3.800000
50%    2009-12-16 12:00:00           6.750000
75%    2017-06-08 12:00:00           8.800000
max    2024-12-01 00:00:00          12.200000
std                    NaN           2.690579

In [42]:
df_usa.describe()

               Time_Period  Unemployment_Rate
count                  360         360.000000
mean   2009-12-15 22:56:00           5.569167
min    1995-01-01 00:00:00           3.100000
25%    2002-06-23 12:00:00           4.300000
50%    2009-12-16 12:00:00           5.100000
75%    2017-06-08 12:00:00           6.100000
max    2024-12-01 00:00:00          14.400000
std                    NaN           1.843703

### select time period

In [44]:
select_df_ind = df_ind[df_ind['Year'] >= 2005]
select_df_deu = df_deu[df_deu['Time_Period'].dt.year >= 2005]
select_df_usa = df_usa[df_usa['Time_Period'].dt.year >= 2005]

In [47]:
select_df_ind.describe()

             Year  Unemployment Rate
count    40.00000          40.000000
mean   2014.50000           6.765500
std       5.83974           1.758675
min    2005.00000           4.820000
25%    2009.75000           5.487500
50%    2014.50000           6.150000
75%    2019.25000           7.577500
max    2024.00000          11.240000

In [50]:
select_df_deu.describe()

               Time_Period  Unemployment_Rate
count                  240         240.000000
mean   2014-12-16 05:00:00           5.315417
min    2005-01-01 00:00:00           2.800000
25%    2009-12-24 06:00:00           3.400000
50%    2014-12-16 12:00:00           4.550000
75%    2019-12-08 18:00:00           6.725000
max    2024-12-01 00:00:00          12.200000
std                    NaN           2.448048

In [51]:
select_df_usa.describe()

               Time_Period  Unemployment_Rate
count                  240         240.000000
mean   2014-12-16 05:00:00           5.817500
min    2005-01-01 00:00:00           3.100000
25%    2009-12-24 06:00:00           4.100000
50%    2014-12-16 12:00:00           5.100000
75%    2019-12-08 18:00:00           7.300000
max    2024-12-01 00:00:00          14.400000
std                    NaN           2.152634